@charset "utf-8";

/* Photo Gallery 메인 CSS - main.css */

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    /*    height: 100%;*/
    overflow-x: hidden;
}

body {
    /*background-color: #000;*/
    /*overflow: hidden;*/
}

/*갤러리타이틀*/
.top {
    position: relative;
    width: 980px;
    max-width: 100%;
    height: 14vh;
    margin: 0 auto;
    font: normal 2.8rem 'Nanum Gothic', sans-serif;
    /* overflow: hidden; */
}

.tit {
    position: relative;
    top: 42%;
    font-size: 2.5rem;
    font-weight: normal;
    text-align: center;
    color: #222;
    /* margin-top: 100px; */
    /*            outline: 1px solid red;*/
}


/*링크이동*/
.link {
    position: absolute;
    top: 0;
    font: normal 1.2rem 'Nanum Gothic', sans-serif;
    text-decoration: none;
    color: #222;
    /* line-height: 35px; */
}

.lps {
    left: 0;
}

.rps {
    right: 0;
}

/*포토수*/
.pinfo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -35px;
    font-size: 0.8rem;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.pinfo i {
    font-style: normal;
    color: red;
}

/*갤러리박스*/
#gallery {
    display: flex;
    width: 950px;
    max-width: 100%;
    margin: 50px auto;
    /*outline: 1px solid lime;*/
}

/*갤러리 트랙*/
.track {
    flex: 1;
}

/*이미지박스*/
.photobox {
    position: relative;
    /*부모자격*/
    width: 94%;
    /*한 트랙을 꽉채움*/
    /*높이값은 자식요소 이미지가 만들어줌!*/
    cursor: pointer;
    margin: 3%;
    overflow: hidden;
    /*넘치는 자식요소 숨김*/
}

.photobox img {
    width: 100%;
    /*height설정은 없이 자동으로!*/
    transition: all .4s ease-out;
}

/*포토박스 마우스 오버시 이미지 살짝커짐*/
.photobox:hover img {
    transform: scale(1.02);
}

/*커버*/
.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: .5;
}

/*설명박스*/
.txt {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    color: #fff;
    font: 0.68rem/4.68rem "맑은 고딕", "굴림";
    /* 글자크기변환: 11px/16px=0.68
        줄간격변환: 75px/16px=4.68 */
    text-align: center;
    white-space: nowrap;
    /*줄바꿈방지*/
    background-color: rgba(0, 0, 0, 0.5);
}

/*IR class*/
.bld {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

/*큰 이미지 배경박스*/
#dpbg {
    position: fixed;
    /*무조건 화면기준!*/
    top: 0;
    left: 0;
    width: 100vw;
    /*보이는 화면 가로기준 vw*/
    height: 100vh;
    /*보이는 화면 세로기준 vh*/
    background-color: rgba(255, 255, 255, 0.9);
    display: none;
}

/*닫기버튼*/
.cbtn {
    position: absolute;
    /*부모는? #dpbg*/
    top: 5%;
    right: 5%;
    width: 40px;
    height: 39px;
    /*outline: 1px solid red;*/
    background: url(../images/mv_btns.png) no-repeat;
    background-position: -129px -342px;
    /*sprites*/
}

/*이동버튼 공통*/
.abtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /*세로중앙이동*/
    width: 56px;
    height: 111px;
    background: url(../images/mv_btns.png) no-repeat;
    /*outline: 1px solid red;*/
}

/*오른쪽버튼*/
.rb {
    right: 5%;
    background-position: 0 -100px;
}

/*오른쪽버튼 오버시*/
.rb:hover {
    background-position: -167px 0;
}

/*왼쪽버튼*/
.lb {
    left: 5%;
    background-position: -232px 0;
}

/*오른쪽버튼 오버시*/
.lb:hover {
    background-position: 0 -221px;
}

/*큰 이미지 박스*/
#dpbox {
    position: fixed;
    top: 50vh;
    /*보이는 화면 높이값 기준*/
    left: 50vw;
    /*보이는 화면 가로폭 기준*/
    transform: translate(-50%, -50%);
    height: 70vmin;
    /*보이는 화면 가로와 세로 중 작은 크기의 70% - vmin*/
    display: none;
    text-align: center;/*이미지중앙*/
}

/*큰 이미지*/
#dpbox img {
    height: 100%;
    /*width는 자동비율유지!*/
}


/*미디어쿼리 - 모바일*/
@media only screen and (max-width:500px) {


   

    /*큰 이미지 이동버튼 크기변경*/
    .abtn {
        transform: translateY(-50%) scale(.7);
    }








}

/*미디어쿼리*/
