@charset "utf-8";

/* Photo Gallery 메인 CSS - main.css */

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    /*    height: 100%;*/
    overflow-x: hidden;
}

body {
    background-color: #000;
    /*overflow: hidden;*/
}

/*갤러리타이틀*/
.tit {
    font: bold 9vmin arial;
    /*font: bold 3.2rem arial;*/
    color: #fff;
    text-align: center;
    margin-top: 100px;
}

/*갤러리박스*/
#gallery {
    display: flex;
    flex-wrap: wrap;/*줄바꿈*/
    width: 950px;
    max-width: 100%;
    margin: 50px auto;
    outline: 1px solid lime;
}

/*이미지박스*/
.photobox {
    position: relative;
    /*부모자격*/
    width: 180px;
    height: 250px;
    cursor: pointer;
    margin: 5px;
    overflow: hidden;
    /*넘치는 자식요소 숨김*/
}

.photobox img {
    width: 100%;
    height: 100%;
}

/*커버*/
.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: .5;
}

/*설명박스*/
.txt {
    position: absolute;
    top: 100%;
    /*70%로 올라옴*/
    left: 0;
    width: 100%;
    height: 30%;
    color: #fff;
    font: 0.68rem/4.68rem "맑은 고딕", "굴림";
    /* 글자크기변환: 11px/16px=0.68
        줄간격변환: 75px/16px=4.68 */
    text-align: center;
    white-space: nowrap;
    /*줄바꿈방지*/
    background-color: rgba(0, 0, 0, 0.5);
}

/*IR class*/
.bld {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

/*큰 이미지 배경박스*/
#dpbg {
    position: fixed;
    /*무조건 화면기준!*/
    top: 0;
    left: 0;
    width: 100vw;
    /*보이는 화면 가로기준 vw*/
    height: 100vh;
    /*보이는 화면 세로기준 vh*/
    background-color: rgba(255, 255, 255, 0.9);
    display: none;
}

/*닫기버튼*/
.cbtn {
    position: absolute;
    /*부모는? #dpbg*/
    top: 5%;
    right: 5%;
    width: 40px;
    height: 39px;
    /*outline: 1px solid red;*/
    background: url(../images/mv_btns.png) no-repeat;
    background-position: -129px -342px;
    /*sprites*/
}

/*이동버튼 공통*/
.abtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /*세로중앙이동*/
    width: 56px;
    height: 111px;
    background: url(../images/mv_btns.png) no-repeat;
    /*outline: 1px solid red;*/
}

/*오른쪽버튼*/
.rb {
    right: 5%;
    background-position: 0 -100px;
}

/*오른쪽버튼 오버시*/
.rb:hover {
    background-position: -167px 0;
}

/*왼쪽버튼*/
.lb {
    left: 5%;
    background-position: -232px 0;
}

/*오른쪽버튼 오버시*/
.lb:hover {
    background-position: 0 -221px;
}

/*큰 이미지 박스*/
#dpbox {
    position: fixed;
    top: 50vh;
    /*보이는 화면 높이값 기준*/
    left: 50vw;
    /*보이는 화면 가로폭 기준*/
    transform: translate(-50%, -50%);
    height: 70vmin;
    /*보이는 화면 가로와 세로 중 작은 크기의 70% - vmin*/
    display: none;
}

/*큰 이미지*/
#dpbox img {
    height: 100%;
    /*width는 자동비율유지!*/
}


/*미디어쿼리 - 모바일*/
@media only screen and (max-width:500px) {

    /*갤러리박스*/
    #gallery {
        flex-wrap: wrap;
        /*flex줄바꿈*/
        justify-content: space-between;
        /*사이간격일정하게*/
    }

    /*이미지박스*/
    .photobox {
        width: 49%;/*한줄에 2개*/
        margin: 0;
        margin-bottom: 2%;/*아래줄 간격 마진으로*/
    }

    /*큰 이미지 이동버튼 크기변경*/
    .abtn {
        transform: translateY(-50%) scale(.7);
    }








}

/*미디어쿼리*/
